name: Mobile CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      run_android:
        description: 'Run Android build'
        required: false
        default: false
        type: boolean

jobs: 

  lint: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Cache Bun
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-${{ hashFiles('bun.lockb') }}

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

  tests: 
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Cache Bun
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-${{ hashFiles('bun.lockb') }}

      - name: Install dependencies
        run: bun install

      - name: Tests
        run: bun run test


  android-build: 
    runs-on: ubuntu-latest
    needs: tests
    if: ${{ inputs.run_android }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Cache Bun
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-${{ hashFiles('bun.lockb') }}

      - name: Install dependencies
        run: bun install

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('android/**/*.gradle*', 'android/**/gradle-wrapper.properties') }}

      - name: Prepare Android keystore
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > android/app/release.keystore
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}

      - name: Prepare Firebase Android json
        run: |
          mkdir -p android/app/src/production
          echo "$ANDROID_GOOGLE_SERVICES_JSON_PRODUCTION_BASE64" | base64 --decode > android/app/src/production/google-services.json
        env:
          ANDROID_GOOGLE_SERVICES_JSON_PRODUCTION_BASE64: ${{ secrets.ANDROID_GOOGLE_SERVICES_JSON_PRODUCTION_BASE64 }}

      - name: Build Android (production release)
        run: "bun run build:android:productionRelease"
        env:
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}

      - id: get_version
        run: |
          VERSION_NAME=$(grep versionName android/app/build.gradle | head -1 | sed 's/.*versionName[[:space:]]*"\(.*\)".*/\1/')
          VERSION_CODE=$(grep versionCode android/app/build.gradle | head -1 | sed 's/.*versionCode[[:space:]]*\([0-9]*\).*/\1/')
          echo "version_name=$VERSION_NAME" >> $GITHUB_OUTPUT
          echo "version_code=$VERSION_CODE" >> $GITHUB_OUTPUT

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: dinhero-android-${{ steps.get_version.outputs.version_name }}-${{ steps.get_version.outputs.version_code }}
          path: android/app/build/outputs/apk/production/release/*.apk

  ios-build:
    runs-on: macos-latest
    if: ${{ false }} # Disable iOS build temporarily
    needs: tests
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Cache Bun
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: bun-${{ hashFiles('bun.lockb') }}

      - name: Install dependencies
        run: bun install

      - name: Cache CocoaPods
        uses: actions/cache@v4
        with:
          path: |
            ios/Pods
            ~/.cocoapods
          key: cocoapods-${{ hashFiles('ios/Podfile.lock') }}

      - name: Install CocoaPods
        run: |
          sudo gem install cocoapods

      - name: Pod install
        run: |
          cd ios
          pod install

      - name: Install xcpretty
        run: sudo gem install xcpretty

      - name: Prepare Firebase iOS plist
        run: |
          echo "$IOS_GOOGLE_SERVICES_PLIST_PRODUCTION_BASE64" | base64 --decode > ios/dinhero/GoogleService-Info.plist
        env:
          IOS_GOOGLE_SERVICES_PLIST_PRODUCTION_BASE64: ${{ secrets.IOS_GOOGLE_SERVICES_PLIST_PRODUCTION_BASE64 }}

      - name: Build iOS (production release)
        run: |
          bun run build:ios:productionRelease